.main__volvo{
  background-color: lightcoral;
}
.main__select{
  text-align: center;
}

[class^=btn__more]{
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 10px 30px;
}
.main__left{
  /* background-image: url(../images/pic1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
   */
  
  width: 100%;
  
  background-image: url(../images/pic1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  
  
  /* display: none; */
}
.main__subtitle__left{
  font-size: 1.5rem;
}
.main__left .btn__more__left{
  display: inline-block;
  margin-top: 50px;
}
.main__mid{
  background-image: url(../images/pic2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  box-sizing: border-box;
  padding-top: 15%;
  padding-left: 5%;
  padding-bottom: 20%;
  /* display: none; */
}
.main__mid .btn__more__mid{
  display: inline-block;
  margin-top: 50px;
}
.main__right{
  background-image: url(../images/pic3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  box-sizing: border-box;
  padding-top: 15%;
  padding-left: 5%;
  padding-bottom: 20%;
  /* display: none; */
}


* { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 }
 
 header {
   display: flex;
   justify-content: space-between;
   height: 70px;
   width: 100%;
   flex-flow: row nowrap;
 }
 
 footer {
  margin: 0 auto;
  background-color: #161618;
 }
 .nav-main {
 }
 .nav-list {
   list-style: none;
   height: 100%;
   display: flex;
   flex-flow: row nowrap;
 }
 .list-item {
   font-size: 1.1rem;
   font-weight: 400;
   padding: 0 5px 0 5px;
 }
 .list-item a {
   color: #777777;
   text-decoration: none;
   display: block;
   padding: 20px 20px 0 20px;
   height: 100%;
 }
 .list-item a:hover {
     border-bottom: 2px solid rgba(60, 128, 255, 0.432);
 }
 .main-logo {
   padding: 10px 10px 0 10px;
 }
 .logo {
   width: 52px;
   height: 52px;
 }
 
 .footer__menu {}
 
 .footer__menu-item {}
 
 .footer__menu-item a {
  color: #fff;
  font-size: 15px;
  list-style-type: none;
 }
 
 .footer__copy {
  color: #999999
 }